
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Syne:wght@400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Syne:wght@400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --gold:#8B7355;
    --dark:#1A1A1A;
    --parafont:syne;
    --headfont:Sansita;
    --infocolor:#666666;
    --darkgold:#f7d2a6;
    --project1:#E8E4DD;
    --project2:#DDD8D0;
    --project3:#D4CFC8;
    --secfont:Bricolage Grotesque ;
    --gold2:#D4B483;
    --mainbgcolor: #fff8ed;
    --headcolor:#000000;
    --bgcolor:#e8e2da;;
}
body.dark{
      --gold:#8B7355;
    --dark:#1A1A1A;
    --parafont:syne;
    --headfont:Sansita;
    --infocolor:#666666;
        --darkgold:#f7d2a6;
    --project1:#E8E4DD;
    --project2:#DDD8D0;
    --project3:#D4CFC8;
    --secfont:Bricolage Grotesque ;
    --gold2:#D4B483;
    --mainbgcolor: #141414;
    --headcolor:rgb(185, 185, 185);
    --bgcolor:#d9d9d97e;;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.mainbackground{
    background-color: var(--mainbgcolor);  
}
.navbar{
   
  width:90%;
  position: sticky;
  padding: 10px ;
  margin:20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
   background: rgba(255,255,255,0.15);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.119);
    border-radius: 20px;
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.382),
        inset 0 1px 0 rgba(255,255,255,0.4);
    z-index: 1; 
}
.nav-items  li a {
text-decoration: none;
color: #666666;
}
.navbar li {
list-style: none;
font-size:20px;
font-family:syne ;
font-weight: 600;
}
.talk-btn a{
    text-decoration: none;
        border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}
.nav-items{
    display: flex;
    gap:3rem;
}
.nav-items li a:hover {
color:black;

transition: color 0.5s ease-in-out ;
}
.talk-btn{
    font-size: 22px;
font-family:syne ;
background-color: #1a1a1a;
padding: 10px 10px;
border-radius: 15px;

}
.talk-btn a{
    color: #fff8ed;
    transition:all 0.5s ease-in;

}
.talk-btn:hover{
    transform: scale(1.1);
    transition:0.4s ease-out ;
    background-color: #323232;
}
.hamburger{
    display: none;
    font-size: 25px;
    font-weight: 800;
}
@media (max-width:768px){

    .nav-items{
        display:none;
    }
    .hamburger{
        display:block;
    }
}
.navside{
     background: rgba(255,255,255,0.15);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px); 
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap:50px;
    padding: 100px 50px;
    z-index: 999;
    font-family: syne;
    transform: translateX(-100%);
    transition: 0.3s ease; 
}
.navside  li a {
text-decoration: none;
color: #666666;

display: block;
}
.navside li  {
list-style: none;
font-size:23px;
font-family:syne ;
font-weight: 600;
width: 100%;


}
.navside li a{
    display:block;
    width:100%;
    padding:12px 20px;

    position:relative;
    overflow:hidden;
}
.navside li:hover{
    background:#9c8569;
         border-radius: 20px; 
    transition: all 0.5s;

}
.navside li a:hover{
        color:whitesmoke;
}

 .close {
    position: absolute;
    top:1%;
    left:90%;
font-size: xx-large;
font-weight: 700;

 }
.navside{
    display: none;
}
.navside.active{
    display:flex;
    transform: translateX(0);
}

.hero{

min-height: auto; 
width: 100%;
display: flex;
gap:2rem;
font-size: 1rem;
}
.maininfo{
    width: 55%;
    font-size: 16px;
}
.image{
  
   
    width: 40%;
    margin:auto;
   
    background-color:var(--bgcolor);
    border-radius:50%;
    overflow:hidden;
}

.name{
   font-size: clamp(2.5rem, 8vw, 9rem);
padding: 30px 60px;
font-family: var(--parafont);
font-weight: 700;
color: var(--headcolor);
}
.biodiv{

font-size: 16px;
display: flex;
align-items: center;
padding:1em 3em;

}
.biodiv p{
font-size: 1.3em;
max-width:60ch;
line-height: 1.6;

font-family: var(--parafont);
color: var(--infocolor);
}
.cvdiv{

height: 4.8rem;
display: flex;
align-items: center;
justify-content: space-evenly;

}
.cvdiv button{
    background-color: #000000;
    height: 60px;

    width: clamp(120px, 40%, 300px);

    border-radius: 20px;
    font-size: 1.3em;
    font-family: var(--parafont);
    color: var(--infocolor);
    border: 1.3px solid var(--infocolor);
    
}

.cvdiv2{
    height: 90%;
     width:85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    opacity: 1;
    transform: translateY(100px);

    animation: slideUp 1s ease forwards;
}

@keyframes slideUp{

    from{
        opacity: 0;
        transform: translateY(50px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }

}

.mainimage img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
     border-radius: 50%; 
}
@media (max-width:950px) {
    .hero{
        flex-direction: column-reverse;
        gap: 0em;
    }
     .image{
        width: 60%;
    } 
      .name-break{
        display: none;
    }
    .maininfo{
        display: flex;
        /* align-items: center;  */
        flex-direction: column;
         justify-content: center; 
         margin:auto ;
    }
  .name{
    margin: auto;
    padding-bottom: 0%;
  }
  .biodiv{
    margin: auto;
    padding: 1em;
  }
}
@media (max-width:700px) {
    .maininfo{
        width: 100%;
    }
   .name-break{
        display: none;
    }
    .name{
        padding: 1rem;
    }
}
@media(max-width:460px) {
    .name{
        padding: 0.5rem;
    }
}
.skills-ticker {
  background-color: #000000;
  overflow: hidden;
  padding: 1rem 0;
  margin-top: 2em;
}

.ticker-content {
  display: flex;
  gap: 2rem;
  white-space: nowrap;
  animation: scroll 5s linear infinite;
}

.ticker-item {
  flex-shrink: 0;
  color: var(--darkgold); 
  font-family: var(--parafont);
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.work{
    background-color: var(--mainbgcolor);
    height: 100vh;
    width: 100%;
    position: relative;
}
.projectdiv h1{
font-size: clamp(2.5rem, 5vw, 5rem);
 padding:1rem; 
font-family: Bricolage Grotesque ;
margin-left:  auto;
color: var(--headcolor);
}
.progrid{
    /* background-color: aqua; */
    height: 80%;
    width: 80%;
    display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
/* align-content: center; */
/* padding:3rem 12rem; */
 gap: 1.5em;
 margin: 0 auto;
 
}
.probox{
  
border-radius: 20px;
border: 1px dashed rgba(88, 88, 88, 0.458);
}
.pro1{
    width: auto;
    height: auto;
    background-color: var(--project1);
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.pro1:hover{
    background-color:#d5d1c9 ;

}
.pro2{
    width: auto;
    height: auto;
    background-color: var(--project2);
    position: relative;
     cursor: pointer;
    transition: background-color 0.3s ease;
}
.pro2:hover{
    background-color:#e6ddd1 ;

}
.pro3{
    width: auto;
    height: auto;
    background-color: var(--project3);
      position: relative;
       cursor: pointer;
    transition: background-color 0.3s ease;
}
.pro3:hover{
    background-color:rgb(221, 213, 199) ;

}
.pro4{
    width: auto;
    height: auto;
    background-color: var(--project1);
      position: relative;
       cursor: pointer;
    transition: background-color 0.3s ease;
}
.pro4:hover{
    background-color:#d5d1c9 ;

}
@media (max-width:900px) {
    .progrid{
        grid-template-columns: 1fr;
        gap:1em;
        height: 90%;
        width: 90%;
    }
}
.prostack{
    display: flex;
    align-items: center;

}
.prostack {
    font-size: 1em;
    /* background-color: brown; */
     padding: 0.5em; 
border-radius: 20px;
background-color:rgba(237, 234, 228, 0.7);
font-family: var(--secfont);
color: #323232;
display: flex;
align-items: center;
justify-content: flex-start;
margin-left: 0.5em;

}
.mainbox{
    /* background-color: aquamarine; */
    display: flex;
align-items: baseline;
justify-content: space-between;
   /* padding: 1em; */
   
}
.viewbtn{
  height: 4em;
  width: 4em;
border-radius: 50%;
    /* background-color: #DDD8D0; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewbtn i {
 background-color: black;
 border-radius: 50%;
 color: rgba(255, 247, 233, 0.877);
    text-align: center;
    font-size: 2em;
    height: auto;
    width: auto;
    font-size: 2.5em;
    transition: transform 0.3s ease;
}
.viewbtn i:hover{
transform: scale(1.2);
}
.proname{
    position: absolute;
    bottom: 5%;
    left: 4%;
    font-size: 1.6rem;
    font-family: var(--secfont);
}
.proname p{
    font-size: 1rem;
    font-family: var(--parafont);
}
.about{
    background-color: var(--mainbgcolor);
       min-height: 100vh;
    height: auto;
    padding: 3rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outerdiv{
    background-color:#1a1917;
    height: auto;
    width: 80%;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.educontainer{
    height: 100%;
    width: 100%;
 
}
.skillscontainer{
    height: 100%;
  width: 100%;
    /* background-color: rgb(9, 144, 99); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.aboutdiv{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    /* background-color: brown; */
}
.aboutdiv h3{
font-size: 2em;
text-decoration: underline;
text-underline-offset: 14px;
color: #D4B483;
font-family: var(--secfont);
}
.aboutdiv p{
font-size: 1.2em;
line-height: 1.5em;
color: var(--infocolor);
font-family: var(--parafont);
}
.edudiv{
    height: auto;
  
display: flex;
flex-direction: column;
gap: 1.5em;
padding: 2em;
}
.edudiv h3{
font-size: 2em;
font-family: var(--secfont);
color: #D4B483;
display: flex;
align-items: center;
gap: 14px;
}
.edudiv p{
font-size: 1.1em;
line-height: 0.7em;
color: var(--infocolor);
font-family: var(--parafont);
}
.techheading{
text-decoration: underline;
text-underline-offset: 14px;
    color:var(--gold2);
    width: 100%;
    min-height: 60px;
    padding: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 2em;
    margin-top: 0.8em;
    font-family: var(--secfont);
font-weight: 650;
}
.techgrid1{
    /* background-color: cadetblue; */
    height: auto;
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0.2em;
    justify-items: center;
    align-items: center;
}
.techgrid{
    height: 80%;
    width: 9em;
      /* background-color: #f1ebeb;   */
    /* border: 2px solid black; */
margin-top: 1em;
 gap: 1em; 
 margin-bottom: 0.5em;
border-radius: 10px;
}
.htmlphoto{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
 
    text-align: center;
}
.htmlphoto i{
     font-size: 7rem;
    line-height: 1;
    color:var(--gold2);
}

.htmlheading{
    height: 20%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--secfont);
    color: var(--infocolor);
}

/*        */
@media (max-width:1500px){

    .outerdiv{
        width: 90%;
        grid-template-columns: 1fr;
        padding-bottom: 2rem;
    }

    .skillscontainer{
        padding-bottom: 2rem;
    }

    .techgrid1{
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        padding: 0 2rem;
    }
}
@media (max-width:900px){

    .outerdiv{
        width: 95%;
    }

    .techgrid1{
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        padding: 0 1rem;
    }

    .techgrid{
        width: 8rem;
    }

    .htmlphoto i{
        font-size: 5rem;
    }
}
@media (max-width:900px){

    .outerdiv{
        width: 95%;
    }

    .techgrid1{
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        padding: 0 1rem;
    }

    .techgrid{
        width: 8rem;
    }

    .htmlphoto i{
        font-size: 5rem;
    }
}
@media (max-width: 600px){

    .techgrid1{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

}
.htmlphoto i:hover{
    color:#f4c989 ;
}
/* #D4B483 */
.javascript i{
    color: #F0DB4F;
}
.htmllogo i{
color: #E44D26;
}
.csslogo i {
color:#1b7abe;
}
.tail i {
color:#38BDF8;

}
.react i {
color:#61DBFB
;
}
.node i{
color:#339933;
}
.ts i{
color:#2c82dd;
}
.mongo i{
color:#47A248;
}
.contact{
    height:auto;
    width:100%;
    background-color:var(--mainbgcolor) ;

}
.getintouch{
    height: 80%;
    width:80%;
margin: auto;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}
.getintouch h3{
    height: 100%;
    width: 100%;
    /* background-color: #1b7abe; */
    color: var(--headcolor);
    font-size: 3em;
    font-family: var(--secfont);
}
.contactdiv{
    height: 12em;
    width: 100%;
    /* background-color: #339933; */
    margin-top: 2.5em;
 display: flex;
align-items: center;
justify-content: space-between;

}
.common{
    height: 100%;
    width: 30%;
    /* background-color: #1b7abe; */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left:2em;
    background-color: #DDD8D0;
}
.emailicon{
    background-color: #Edeae4b3;
    border-radius: 10px;
 width: 4em;
 height: 4em;
 display: flex;
 align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 1em;

}
.emailicon i{
    font-size: 3em;
 color: rgba(15, 15, 15, 0.4);
 font-weight: 40;
}
.email1{
font-size: 1.5em;
font-weight: 650;

}
.email2{
font-size: 1.1em;
font-weight: 300;
color: rgba(15, 15, 15, 0.603);
}
.emailinfo{
    font-family: var(--secfont);
margin-bottom: 1em;
}
@media (max-width:1100px) {
    .contactdiv{
        flex-direction: column;
    gap: 2em;
    width: 100%;
    margin: 0;
   height: 40em;

    }
 .common{
    width: 100%;
 }  
}
.common:hover{
    background-color:#e9e1d4 ;
}
.footer{
    background:#000;
    color:#fff;
    padding:5rem 1rem 2rem;
    position:relative;
    margin-top: 3em;
}

.footer-content{
    max-width:1200px;
    margin:auto;
    text-align:center;
      font-family: var(--secfont);
}

.footer h2{
    font-size:clamp(2rem,5vw,4rem);
    margin-bottom:.5rem;
}

.role{
    color:#888;
    font-size:1.3rem;
    margin-bottom:3rem;
}

.footer-socials{
    display:flex;
    justify-content:center;
    gap:3rem;
    flex-wrap:wrap;
      font-family: var(--secfont);
    margin-bottom:3rem;
}

.footer-socials a{
    color:#fff;
    text-decoration:none;
    font-size:1.1rem;
    display:flex;
    align-items:center;
    gap:.7rem;
}

.footer-socials i{
    font-size:1.6rem;
}

.footer hr{
    border:none;
    height:1px;
    background:#333;
    margin:2rem 0;
}

.footer-nav{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:2rem;
    flex-wrap:wrap;
    margin-bottom:2rem;
      font-family: var(--secfont);
}

.footer-nav a{
    color:#fff;
    text-decoration:none;
  
}

.copyright{
    color:#777;
    font-size:.95rem;
}

.top-btn{
    position:absolute;
    right:2rem;
    bottom:2rem;
    width:50px;
    height:50px;
    border:1px solid #555;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    text-decoration:none;
    font-size:1.2rem;
}

/* Mobile */
@media (max-width:768px){

    .footer{
        padding:4rem 1rem 2rem;
    }

    .footer-socials{
        gap:1.5rem;
        flex-direction:column;
    }

    .footer-nav{
        gap:1rem;
    }

    .top-btn{
        position:static;
        margin:2rem auto 0;
    }
}
.talk-btn i{
color: #ececec;
}